@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

img {
    max-width: 100%;
}

body{
    background-color: #f6f6f6;
    font-family: "Poppins", serif;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #3952a3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container {
   width: min(90%, 1400px);
    margin-inline: auto;
    
}

/* hero section  */

.contc-hero-bg {
    background: linear-gradient( #0088ff85, #000000), url(https://images.unsplash.com/photo-1423666639041-f56000c27a9a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29udGFjdHxlbnwwfHwwfHx8MA%3D%3D);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contc-hero-content {
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    gap: 20px;
}

.contc-hero-content h1 {
    font-size: 8rem;
    line-height: 9rem;
    text-transform: capitalize;
}

.contc-hero-bg p {
    font-size: 1.6rem;
    color: #fffefe;
    width: 900px;
    text-align: center;

}

@media (max-width: 850px ) {
    .contc-hero-content h1 {
        font-size: 6rem;
        letter-spacing: 0.4rem;
    }
 
}

@media (max-width: 480px ) {
    .contc-hero-bg{
        height: 250px;
       
    }
    .contc-hero-content{
        padding-top: 80px;
    }
    .contc-hero-content h1 {
        font-size: 2.5rem;
        line-height: 5rem;
    }

}

/* end blog hero  */

.title-contact h1 {
    color: #3952a3;
    font-size: 3rem;
    text-align: center;
    padding-block: 50px;
}
.contact-form {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 50px;
}
.contact-form {
    padding-bottom: 50px;
}
.form-contact form {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 300;
    gap: 10px;
    background-color: #d8d8d838;
    padding: 50px 20px;
    border-radius: 10px;
}

.form-contact label {
    border-radius: 50px;
}

.form-contact input {
    border: 1px solid #3952a3;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 20px;
}
.form-contact textarea {
    border-radius: 10px;
    padding: 10px;
}

.telefon-eamil {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    padding-top: 20px;
}
/* end contacct images  */


@media (max-width: 850px) {
    .contact-form {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .title-contact h1 {
        font-size: 1.5rem;
    }
    .contact-form {
        grid-template-columns: 1fr;
    }
}

