@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

img {
    max-width: 100%;
}

body{
    background-color: #f6f6f6;
    font-family: "Poppins", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container {
   width: min(90%, 1400px);
    margin-inline: auto;
    
}

/* header  */


.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001559;
    width: 100vw;
    height: 5vh;
    padding: 0px 50px;
    color: aliceblue;
}

.inf-header-contact {
    display: flex;
    gap: 20px;
    cursor: pointer;

}

.hover1:hover {
    color: #d19a1f;
}

.social-header{
    display: flex;
    gap: 30px;

}

@media (max-width: 820px) {
    .info-header {
        display: none;
    }
    
}


/* end info header  */

header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-desktop {
    width: 300px;
    cursor: pointer;
}

.links-menu-desktop {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links-menu-desktop a {
    text-decoration: none;
    display: flex;
    font-size: 28px;
    
}

.links-menu-desktop :hover {
    color: #d19a1f;
}



 /* end desktop-menu */

 .mobile-menu, .links-mobile-menu {
    display: none;
 }
 @media (max-width: 820px ) {
    .desktop-menu{
        display: none;
    }


 .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo-mobile {
    width: 250px;
    cursor: pointer;

 }

 .bar-menu {
    font-size: 2rem;
 }
.links-mobile-menu {
    display: flex;
    justify-content: center;
    background-color: #001559;
    width: 90vw;
    height: 60vh;
    margin-inline: auto;
}
.list-mobile-menu {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    

}

.list-mobile-menu a{
    color: white;
    padding-top: 20px;
    text-align: center;
}
 .links-mobile-menu[data-visible="false"] {
    transform: translatex(-106%);
}
.bar-menu i[data-visible="true"]{
    display: block;
}

.bar-menu i[data-visible="false"]{
    display: none;
}

}
